src/main/resources/Utleggstrekk.xml2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.kith.no/xmlstds/msghead/2006-05-24" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MsgHead" type="ns:MsgHeadType" xmlns:ns="http://www.kith.no/xmlstds/msghead/2006-05-24"/>
  <xs:complexType name="TypeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="V"/>
        <xs:attribute type="xs:string" name="DN"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AckType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="V"/>
        <xs:attribute type="xs:string" name="DN"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TypeIdType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="V" use="optional"/>
        <xs:attribute type="xs:string" name="S" use="optional"/>
        <xs:attribute type="xs:string" name="DN" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="IdentType">
    <xs:sequence>
      <xs:element name="Id">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="971648198"/>
            <xs:enumeration value="889640782"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="ns:TypeIdType" name="TypeId" xmlns:ns="http://www.kith.no/xmlstds/msghead/2006-05-24"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CountyType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="V" use="optional"/>
        <xs:attribute type="xs:string" name="DN" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="StreetAdr">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Terminalveien 2"/>
            <xs:enumeration value="Økernveien 94"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PostalCode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="8601"/>
            <xs:enumeration value="0579"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="City">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="MO I RANA"/>
            <xs:enumeration value="OSLO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="ns:CountyType" name="County" xmlns:ns="http://www.kith.no/xmlstds/msghead/2006-05-24"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationType">
    <xs:sequence>
      <xs:element name="OrganisationName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="STATENS INNKREVINGSSENTRAL"/>
            <xs:enumeration value="ARBEIDS- OG VELFERDSETATEN"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="ns:IdentType" name="Ident" xmlns:ns="http://www.kith.no/xmlstds/msghead/2006-05-24"/>
      <xs:element type="ns:AddressType" name="Address" xmlns:ns="http://www.kith.no/xmlstds/msghead/2006-05-24"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SenderType">
    <xs:sequence>
      <xs:element type="ns:OrganisationType" name="Organisation" xmlns:ns="http://www.kith.no/xmlstds/msghead/2006-05-24"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReceiverType">
    <xs:sequence>
      <xs:element type="ns:OrganisationType" name="Organisation" xmlns:ns="http://www.kith.no/xmlstds/msghead/2006-05-24"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VDN">
    <xs:sequence>
      <xs:element type="ns:TypeType" name="Type" xmlns:ns="http://www.kith.no/xmlstds/msghead/2006-05-24"/>
      <xs:element type="xs:string" name="MIGversion"/>
      <xs:element type="xs:string" name="GenDate"/>
      <xs:element type="xs:string" name="MsgId"/>
      <xs:element type="ns:AckType" name="Ack" xmlns:ns="http://www.kith.no/xmlstds/msghead/2006-05-24"/>
      <xs:element type="ns:SenderType" name="Sender" xmlns:ns="http://www.kith.no/xmlstds/msghead/2006-05-24"/>
      <xs:element type="ns:ReceiverType" name="Receiver" xmlns:ns="http://www.kith.no/xmlstds/msghead/2006-05-24"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsentType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="V"/>
        <xs:attribute type="xs:string" name="S"/>
        <xs:attribute type="xs:string" name="DN"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="IssueDateType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="V"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MsgTypeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="V"/>
        <xs:attribute type="xs:string" name="DN"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ContentType">
    <xs:sequence>
      <xs:element ref="ns:InnrapporteringTrekk" xmlns:ns="http://www.kith.no/xmlstds/nav/innrapporteringtrekk/2010-02-04"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RefDocType">
    <xs:sequence>
      <xs:element type="ns:IssueDateType" name="IssueDate" xmlns:ns="http://www.kith.no/xmlstds/msghead/2006-05-24"/>
      <xs:element type="ns:MsgTypeType" name="MsgType" xmlns:ns="http://www.kith.no/xmlstds/msghead/2006-05-24"/>
      <xs:element type="ns:ContentType" name="Content" xmlns:ns="http://www.kith.no/xmlstds/msghead/2006-05-24"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:sequence>
      <xs:element type="xs:string" name="ContentDescription"/>
      <xs:element type="ns:ConsentType" name="Consent" xmlns:ns="http://www.kith.no/xmlstds/msghead/2006-05-24"/>
      <xs:element type="ns:RefDocType" name="RefDoc" xmlns:ns="http://www.kith.no/xmlstds/msghead/2006-05-24"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MsgHeadType">
    <xs:sequence>
      <xs:element type="ns:MsgInfoType" name="MsgInfo" xmlns:ns="http://www.kith.no/xmlstds/msghead/2006-05-24"/>
      <xs:element type="ns:DocumentType" name="Document" xmlns:ns="http://www.kith.no/xmlstds/msghead/2006-05-24"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>