src/main/resources/Utleggstrekk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.kith.no/xmlstds/felleskomponent1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Id">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="01020312345"/>
        <xs:enumeration value="00913876725"/>
        <xs:enumeration value="988900060"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TypeId" type="fel:TypeIdType" xmlns:fel="http://www.kith.no/xmlstds/felleskomponent1"/>
  <xs:element name="Type" type="fel:TypeType" xmlns:fel="http://www.kith.no/xmlstds/felleskomponent1"/>
  <xs:element name="StreetAdr" type="xs:string"/>
  <xs:element name="PostalCode" type="xs:string"/>
  <xs:element name="Country" type="fel:CountryType" xmlns:fel="http://www.kith.no/xmlstds/felleskomponent1"/>
  <xs:complexType name="TypeIdType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="V" use="optional"/>
        <xs:attribute type="xs:string" name="S" use="optional"/>
        <xs:attribute type="xs:string" name="DN" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TypeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="V"/>
        <xs:attribute type="xs:string" name="DN"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CountryType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="V"/>
        <xs:attribute type="xs:string" name="DN"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>